---
import { log } from "astro/dist/core/logger/core";
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob("../../data/posts/*.{mdx,md}");
const tags = [...new Set(posts.map((post) => post.frontmatter.tags).flat())];
---

<Layout title="Tags">
  <section class="tags pt-20">
    <div class="custom-container">
      <div class="flex">
        {
          tags.map((tag) => (
            <p class="tag">
              <a href={`/tags/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
